table {
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 30px;
}

.wall {
    background: blue;
    border: 1px black solid ;
}

.path {
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border: 1px black solid ;

}