    .container {
    width: 90%;
    margin: 0 auto;
}

svg {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
}

@media (min-width: 1440px) {
    svg {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    svg {
        width: 58%;
    }
}

@media (max-width: 1024px) {
    svg {
        width: 90%;
    }
}

@media (max-width: 900px) {
    svg {
        width: 75%;
    }
}


@media (max-width: 768px) {
    svg {
        width: 50%;
    }
}

@media (max-width: 600px) {
    svg {
        width: 85%;
    }
}

@media (max-width: 480px) {
    svg {
        width: 90%;
    }
}

@media (max-width: 360px) {
    svg {
        width: 95%;
    }
} 